<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="places-buttons">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h4 class="card-title">
                            Mes obligations Fiscales
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" routerLink="declarationIRPP" >IRPP</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" routerLink="declarationTVA" >TVA</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" routerLink="declarationTF" >TF</button>
                            </div>
                        </div>
                    </div>

                        <p>
                            IRPP  : Impôt sur le Revenu des Personnes Physiques <br>
                            TVA : Taxe sur la Valeur Ajoutée  <br>
                            TF : Taxe foncière  <br>

                        </p>

                </div>
            </div>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>
</div>


