<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">  Mes Reclamations</h2>
                </div>
                <form>
                    <div class="input-group no-border col-md-4">
                        <input type="text" value="" class="form-control" placeholder="Search... " (ngModelChange)="search($event)" [ngModel]="key" name="key"   >
                        <div class="input-group-append">

                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-header">
                    <button _ngcontent-c3 (click)="goToAdd()" class="btn btn-primary btn-simple btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-add"></i>Passer Reclamation</button>
                </div>
                <div class="card-body" >
                    <div class="table-responsive">
                        <table class="table" >
                            <thead class=" text-primary">
                            <th class="text-left">
                                idReclamation
                            </th>
                            <th class="text-left">
                                Description
                            </th>
                            <th class="text-left">
                                Date de reclamation
                            </th>
                            <th class="text-left">
                                Status
                            </th>
                            <th class="text-left">
                                Types
                            </th>
                            <th>
                                Action
                            </th>
                            </thead>
                            <tbody   >
                            <tr  *ngFor="let rec of allReclam" (click)="goToReclamItem(rec.idReclamation)" >
                                <td >
                                    {{rec.idReclamation}}
                                </td>
                                <td  style="cursor: pointer ;" >
                                    {{rec.description}}
                                </td>
                                <td style="cursor: pointer">
                                    {{rec.dateOfReclam}}
                                </td >
                                <td  style="cursor: pointer">
                                    {{rec.status}}
                                </td>
                                <td  style="cursor: pointer">
                                    {{rec.typeReclamation}}
                                </td>

                                <td>
                                    <button class="btn btn-primary btn-simple btn-round" (click)="goToEdit(rec.idReclamation)" >
                                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                                    </button> &nbsp;
                                    <button _ngcontent-c3 (click)="deleteReclamation(rec)" class="btn btn-primary btn-simple btn-round" type="button">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
