<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Modifier Reclamation</h2>
                </div>
                <div class="card-body">
                    <form #f="ngForm" [formGroup]="ReclamationForm" (ngSubmit)="submit(f)" >
                        <div class="row">

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Id</label>
                                    <input type="text"
                                           [(ngModel)]="rec.idReclamation"
                                           [formControlName]="'idReclamation'"
                                           formControlName="idReclamation"
                                           class="form-control" placeholder=" description " value="">
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text"
                                           [(ngModel)]="rec.description"
                                           [formControlName]="'description'"
                                           formControlName="description"
                                           class="form-control" placeholder=" description " value="">
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select  class="input-group form-group-no-border input-lg btn-round " style="height: 38px; font-size: 19px;padding-top: 5px"
                                             [formControlName]="'typeReclamation'" [(ngModel)]="rec.typeReclamation"
                                             formControlName="typeReclamation"  id="typeReclamation" >
                                        <option value="Declaration">Declaration</option>
                                        <option value="Payement">Payement</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select  class="input-group form-group-no-border input-lg btn-round " style="height: 38px; font-size: 19px;padding-top: 5px"
                                             [formControlName]="'status'" [(ngModel)]="rec.status"
                                             formControlName="status"  id="status" >
                                        <option value="Nouvelle">Nouvelle</option>
                                        <option value="En_attente">En_attente</option>
                                        <option value="Traité">Traité</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text"
                                           [(ngModel)]="rec.dateOfReclam"
                                           [formControlName]="'dateOfReclam'"
                                           formControlName="dateOfReclam"
                                           class="form-control" placeholder=" dateOfReclam " value="">
                                </div>
                            </div>


                            <!--
                                            <div class="col-md-3 px-1">
                                                <div class="form-group">
                                                    <select  class="form-control" formControlName="Status" data-toggle="tooltip"
                                                            data-placement="right" title="Select Reclamation Status">
                                                        <option value="New">New</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Done">Done</option>

                                                    </select>
                                                </div>
                                            </div>
                -->
                        </div>


                        <button type="submit"  class="btn btn-primary btn-simple btn-round">Save</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
