<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">  Liste Declarations TVA</h2>
                </div>
                <form>
                    <div class="input-group no-border col-md-4">
                        <input type="text" value="" class="form-control" placeholder="Search... " (ngModelChange)="search($event)" [ngModel]="key" name="key"   >
                        <div class="input-group-append">

                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-header">
                    <button _ngcontent-c3 (click)="goToAdd()" class="btn btn-primary btn-simple btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-add"></i>ajouter declaration</button>
                </div>
                <div class="card-body" >
                    <div class="table-responsive">
                        <table class="table" >
                            <thead class=" text-primary">
                            <th class="text-left">
                                Nom_Prenom
                            </th>
                            <th class="text-left">
                                Ventes_Soumises_TVANormale
                            </th>
                            <th class="text-left">
                                Ventes_Exonerees
                            </th>
                            <th class="text-left">
                                Achats_Aupres_Fournisseurs_Etrangers
                            </th>
                            <th class="text-left">
                                Achats_Aupres_Fournisseurs_Soumis_TVANormale
                            </th>
                            <th class="text-left">
                                Charges_Deductibles
                            </th>
                            <th class="text-left">
                                date_Declaration_TVA
                            </th>
                            <th class="text-left">
                                Exportations
                            </th>
                            <th class="text-left">
                                Tva_collectee
                            </th>
                            <th class="text-left">
                                Tva_deductible
                            </th>
                            <th class="text-left">
                                Tva_nette_A_Paye
                            </th>
                            <th>
                                Actions
                            </th>
                            </thead>
                            <tbody   >
                            <tr  *ngFor="let dec of alldecTVA"  (click)="goToBackItemTVA(dec.id)" >
                                <td >
                                    {{dec.fullName}}
                                </td>
                                <td >
                                    {{dec.ventesSoumisesTVANormale}}
                                </td>
                                <td >
                                    {{dec.ventesExonerees}}
                                </td>
                                <td   >
                                    {{dec.achatsAupresFournisseursEtrangers}}
                                </td>
                                <td >
                                    {{dec.achatsAupresFournisseursSoumisTVANormale}}
                                </td >
                                <td  >
                                    {{dec.chargesDeductibles}}
                                </td>
                                <td  >
                                    {{dec.dateOfDeclarationTVA}}
                                </td>
                                <td>
                                    {{dec.exportations}}
                                </td>
                                <td>
                                    {{dec.tvacollectee}}
                                </td>
                                <td>
                                    {{dec.tvadeductible}}
                                </td>
                                <td>
                                    {{dec.tvanetteAPaye}}
                                </td>
                                <td>
                                    <button _ngcontent-c3  (click)="deletedeclrationIRPP(dec)" class="btn btn-primary btn-simple btn-round" type="button">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ngb-pagination
                                [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
