<div class="panel-header panel-header-sm">
</div>
<div class="cookie-card">
    <span class="title">Reclamation Detail</span>

    <p class="text-title">Description :
        <label class="description" style="overflow-wrap: break-word; max-width: 100ch; line-height: 2.4;">{{rec.description}}</label></p>

    <p class="text-title">Status :
        <label class="description">{{rec.status}}  </label></p>

    <p class="text-title">Date De Reclamation :
        <label class="description">{{rec.dateOfReclam }}</label></p>

    <p class="text-title">Type De Reclamation :
        <label class="description">{{rec.typeReclamation }}</label></p>





</div>


