<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">

        <div class="col-md-6 ">
            <div class="card card-user">
                <div class="image">
                    <img src="../assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <h5 >Numéro d'identification fiscale : <label>{{info[0].nif}}</label> </h5>
                    <h5>Nom ou Raison sociale : <label>{{info[0].nomRaisonsociale}}</label> </h5>
                    <h5>Adresse Geographique : <label>{{info[0].adresseGeographique}}</label></h5>
                    <h5>Adresse Postale : <label>{{info[0].adressePostale}}</label></h5>
                    <h5>Ville : <label>{{info[0].ville}}</label></h5>
                    <h5>Telephone : <label>{{info[0].telephone}}</label></h5>
                    <h5>Activites : <label>{{info[0].activites}}</label></h5>

                </div>
                <hr>
                <div class="button-container">
                    <button  [disabled]="dhahra"   class="btn btn-primary btn-simple btn-round" (click)="gotoadd()" >
                        Ajouter mes informations
                    </button>
                </div>
                <div class="button-container">
                <button  class="btn btn-primary btn-simple btn-round" (click)="gotoedit()" >
                    Modifier mes informations
                </button>
                </div>
            </div>
        </div>



    </div>
</div>
