
<div class="logo">

      <div >
          <img src="./assets/img/logo.png"/>
      </div>

    <a  style="padding-left:69px ; font-size: 24px " class="simple-text logo-normal">
       PORTAIL
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <div  class="d-flex justify-content-center" style="color: white;">
            <div role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <li   routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

        </li>
        
    </ul>
</div>
