<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">Ajouter Nouveau Reclamation</h2>
                </div>
                <div class="card-body">
                    <form  [formGroup]="ReclamationForm" (ngSubmit)="submit()" >
                        <div class="row">

                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text"
                                           [formControlName]="'description'"
                                           formControlName="description"
                                           class="form-control" placeholder=" description " value="">
                                </div>
                                <div
                                     class="alert-danger">
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>types</label>
                                    <input type="text"
                                           [formControlName]="'typeReclamation'"
                                           formControlName="typeReclamation"
                                           class="form-control" placeholder="Type " value="">
                                    <div class="alert-danger">

                                    </div>
                                </div>
                            </div>
            <!--
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <select  class="form-control" formControlName="Status" data-toggle="tooltip"
                                            data-placement="right" title="Select Reclamation Status">
                                        <option value="New">New</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>

                                    </select>
                                </div>
                            </div>
-->
                        </div>


                        <button type="submit"  class="btn btn-primary right">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
