<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">  Mes Declarations TF</h2>
                </div>
                <form>
                    <div class="input-group no-border col-md-4">
                        <input type="text" value="" class="form-control" placeholder="Search... " (ngModelChange)="search($event)" [ngModel]="key" name="key"   >
                        <div class="input-group-append">

                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-header">
                    <button _ngcontent-c3 (click)="goToAdd()" class="btn btn-primary btn-simple btn-round" type="button">
                        <i class="now-ui-icons ui-1_simple-add"></i>ajouter declaration</button>
                </div>
                <div class="card-body" >
                    <div class="table-responsive">
                        <table class="table" >
                            <thead class=" text-primary">
                            <th class="text-left">
                                Nom_Prenom
                            </th>
                            <th class="text-left">
                                Adresse_du_bien
                            </th>
                            <th class="text-left">
                                Type_de_bien
                            </th>
                            <th class="text-left">
                                Superficie_du_bien
                            </th>
                            <th class="text-left">
                                Montant_valeur_locative
                            </th>
                            <th class="text-left">
                                date_Declaration_TF
                            </th>
                            <th class="text-left">
                                Situation_fiscale
                            </th>
                            <th class="text-left">
                                Montant_taxe_foncière
                            </th>
                            <th>
                                Actions
                            </th>
                            </thead>
                            <tbody   >
                            <tr style="cursor: pointer" *ngFor="let dec of alldec"   >
                                <td (click)="goToItemTF(dec.id)">
                                    {{dec?.fullNameProprietaire}}
                                </td>
                                <td (click)="goToItemTF(dec.id)">
                                    {{dec.adresseBien}}
                                </td>
                                <td (click)="goToItemTF(dec.id)">
                                    {{dec.typeBien}}
                                </td>
                                <td  (click)="goToItemTF(dec.id)" >
                                    {{dec.superficieBien}}
                                </td>
                                <td (click)="goToItemTF(dec.id)">
                                    {{dec.valeurlocative}}
                                </td >
                                <td  (click)="goToItemTF(dec.id)">
                                    {{dec.dateOfDeclarationTF}}
                                </td>
                                <td (click)="goToItemTF(dec.id)" >
                                    {{dec.situationFiscale}}
                                </td>
                                <td (click)="goToItemTF(dec.id)">
                                    {{dec.montantTaxeFonciere}}
                                </td>
                                <td>
                                    <button _ngcontent-c3  (click)="deletedeclrationTF(dec)" class="btn btn-primary btn-simple btn-round" type="button">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--
                        <ngb-pagination
                                [boundaryLinks]="true"  [maxSize]="3" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="nextPage($event);" class="pagination-primary">
                        </ngb-pagination>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
